# Exercise 6: Weather anomalies (*10 points*)

The aim of this exercise is to analyze historical weather data. In Problem 1 you read in a tricky data file and explore it's contents. In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius. In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

**Notice**: Closely follow the instructions! Please use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the given variable naming. Also, please do not copy/paste existing code cells. You can add cells if you like, but copying and pasting can also cause the automatic tests to fail.


## Problem 1 - Reading in a tricky data file (*2 points*)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using Pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (*1 point*)

You should start by reading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [133]:
data = None

import pandas as pd

#configure path to datafile and read data file into a variable
path = r'C:/Users/David/Documents/Notebooks/Helsinski_course/Ejercicios/Github/exercise-6-dvdov-david/data/1091402.txt'
data = pd.read_csv(path,delim_whitespace=True, skiprows=[1], na_values = -9999)

In [134]:
# Check that the dataframe looks ok:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

In [136]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
23711,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

### Part 2 (*1 point*)

In this section, you will calculate simple statistics based on the input data:

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`.

In [137]:
tavg_nodata_count = None

# select rows where TAVG column have no values
tavg_nodata_count = len(data[data['TAVG'] == 'NaN'])

In [138]:
# Print out the solution:
print('Number of no-data values in column "TAVG":',tavg_nodata_count)

Number of no-data values in column "TAVG": 0

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [139]:
tmin_nodata_count = None

# select rows where TAVG column have no values
tmin_nodata_count = len(data[data['TMIN'] == 'NaN'])

In [140]:
# Print out the solution:
print('Number of no-data values in column "TMIN":', tmin_nodata_count)

Number of no-data values in column "TMIN": 0

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [141]:
day_count = None

# Check 'DATE' data type
data.dtypes

STATION       object
ELEVATION      int64
LATITUDE     float64
LONGITUDE    float64
DATE           int64
PRCP         float64
TAVG         float64
TMAX         float64
TMIN         float64
dtype: object

In [142]:
# Overview of magnitud in Date values
print('min date:',data['DATE'].min(), ' max date:',data['DATE'].max() )

min date: 19520101  max date: 20171004

In [143]:
day_count = data['DATE'].nunique()

In [145]:
# Print out the solution:
print("Number of days:", day_count)

Number of days: 23716

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [146]:
first_obs = None
# get a ordered values from lower to highest and then select first result of the list
first_obs = data['DATE'].sort_values(ascending=True).at[0]

In [147]:
# Print out the solution:
print('Date of the first observation:',first_obs)

Date of the first observation: 19520101

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [148]:
last_obs = None
# get a ordered values from highest to lower and then select first result of the list
last_obs = data['DATE'].sort_values(ascending=False, ignore_index = True).at[0]
type(last_obs)

numpy.int64

In [149]:
# Print out the solution:
print('Date of the last observation:', last_obs)

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [150]:
avg_temp = None
avg_temp = data['TAVG'].mean()

In [151]:
# Print out the solution:
print('Average temperature (F) for the whole dataset:', round(avg_temp, 2))

Average temperature (F) for the whole dataset: 41.32

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [152]:
avg_temp_1969 = None

# convert DATE int datatype into string and then into datetime type
data['DATE_DT'] = pd.to_datetime(data['DATE'].astype(str)) 

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
#raise NotImplementedError()

In [153]:
# Select rows meeting year and months required
selected = data.loc[(data['DATE_DT'].dt.year == 1969) & (data['DATE_DT'].dt.month.isin([5,6,7])), 'TMAX']
# Agrupar TMAX by gruop of three months
avg_temp_1969 = selected.groupby(data['DATE_DT'].dt.month.isin([5,6,7])).mean().at[1]

In [154]:
# This test print should print a number
print('Average temperature (F) for the Summer of 69:', round(avg_temp_1969, 2))

Average temperature (F) for the Summer of 69: 66.43

In [155]:
print(data)

                 STATION  ELEVATION  LATITUDE  LONGITUDE      DATE  PRCP  \
0      GHCND:FIE00142080         51   60.3269    24.9603  19520101  0.31
1      GHCND:FIE00142080         51   60.3269    24.9603  19520102   NaN
2      GHCND:FIE00142080         51   60.3269    24.9603  19520103  0.14
3      GHCND:FIE00142080         51   60.3269    24.9603  19520104  0.05
4      GHCND:FIE00142080         51   60.3269    24.9603  19520105  0.06
...                  ...        ...       ...        ...       ...   ...
23711  GHCND:FIE00142080         51   60.3269    24.9603  20170930   NaN
23712  GHCND:FIE00142080         51   60.3269    24.9603  20171001  0.04
23713  GHCND:FIE00142080         51   60.3269    24.9603  20171002   NaN
23714  GHCND:FIE00142080         51   60.3269    24.9603  20171003  0.94
23715  GHCND:FIE00142080         51   60.3269    24.9603  20171004  0.51

       TAVG  TMAX  TMIN    DATE_DT
0      37.0  39.0  34.0 1952-01-01
1      35.0  37.0  34.0 1952-01-02
2      33.0  36.0   NaN 1952-01-03
3      29.0  30.0  25.0 1952-01-04
4      27.0  30.0  25.0 1952-01-05
...     ...   ...   ...        ...
23711  47.0  49.0  44.0 2017-09-30
23712  47.0  48.0  45.0 2017-10-01
23713  47.0  49.0  46.0 2017-10-02
23714  47.0   NaN  44.0 2017-10-03
23715  52.0  56.0   NaN 2017-10-04

[23716 rows x 10 columns]

## Problem 2 - Calculating monthly average temperatures (*3 points*)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do
- Uploading your notebook to your GitHub repository for this week's exercise

*Hint: you can start by creating a new column with a label for each month and then continue grouping the data based on this information.*

In [156]:
monthly_data = None

# Create an empty Dataframe
monthly_data = pd.DataFrame()

# Create Function to get celsius temperature
def faren_2_celsius(Fahr_Temp):

    """Function to convert Fahrenheit temperature into Celsius.

    Parameters
    ----------

    temp_fahrenheit: int | float
        Input temperature in Fahrenheit (should be a number)
        
    Returns
    -------
    
    Temperature in Celsius (float)
    """

    # Convert the Fahrenheit into Celsius
    return (Fahr_Temp - 32) / 1.8


# Average temperature by every month for each year in celsius units
monthly_data['temp_celsius'] =  data['TAVG'].groupby([data['DATE_DT'].dt.year,data['DATE_DT'].dt.month]).mean().apply(faren_2_celsius)

In [157]:
#checking data results
type(monthly_data)
monthly_data.dtypes

temp_celsius    float64
dtype: object

In [158]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

790

In [159]:
# This test print should print the column names of monthly_data
print(monthly_data.columns.values)

['temp_celsius']

In [160]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

5.097114347669993

In [161]:
# This test print should print the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

4.73

## Problem 3 - Calculating temperature anomalies (*5 points*)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1:

- Calculating ***the mean temperature for each month over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius:
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2:

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html)) between `monthly_data` and `ref_temps` based on the month.
    - Temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`) 
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame: 
1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the average during the reference period (e.g., for February 1952-1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code and commit your changes using git.

In [162]:
# create an empty dataframe
reference_temps = pd.DataFrame()

# Average temperature by every month for all years in celsius units
# rename column as required
reference_temps = monthly_data.groupby(monthly_data.index.get_level_values(1)).mean().rename(columns={'temp_celsius':'ref_temp'})

# Create a column with month number (as required) from index
reference_temps['month'] = reference_temps.index.values

In [164]:
# checking results - comparing both dataframes
print(monthly_data)
print(reference_temps)

                 temp_celsius
DATE_DT DATE_DT
1952    1           -1.400966
        2           -4.000000
        3          -10.106838
        4            4.226190
        5            7.037037
...                       ...
2017    6           13.500000
        7           15.716846
        8           15.716846
        9           11.296296
        10           9.027778

[790 rows x 1 columns]
          ref_temp  month
DATE_DT
1        -5.350916      1
2        -5.941307      2
3        -2.440364      3
4         3.423785      4
5        10.179938      5
6        14.667858      6
7        17.280519      7
8        15.603642      8
9        10.596153      9
10        5.487785     10
11        0.645782     11
12       -3.211359     12

In [165]:
# Aconditionate dataframe to merge data: index levels as columns
monthly_data['month'] = monthly_data.index.get_level_values(1)
monthly_data['year']  = monthly_data.index.get_level_values(0)

In [166]:
# checking results:
print(monthly_data)

                 temp_celsius  month  year
DATE_DT DATE_DT
1952    1           -1.400966      1  1952
        2           -4.000000      2  1952
        3          -10.106838      3  1952
        4            4.226190      4  1952
        5            7.037037      5  1952
...                       ...    ...   ...
2017    6           13.500000      6  2017
        7           15.716846      7  2017
        8           15.716846      8  2017
        9           11.296296      9  2017
        10           9.027778     10  2017

[790 rows x 3 columns]

In [167]:
# bringing reference temperature to dataframe
monthly_data = monthly_data.merge(reference_temps, on = 'month', how = 'inner')

# checking results
print(monthly_data)

     temp_celsius  month  year  ref_temp
0       -1.400966      1  1952 -5.350916
1       -5.396825      1  1953 -5.350916
2       -7.072650      1  1954 -5.350916
3       -5.473251      1  1955 -5.350916
4       -8.133333      1  1956 -5.350916
..            ...    ...   ...       ...
785     -6.630824     12  2012 -3.211359
786      1.362007     12  2013 -3.211359
787     -1.146953     12  2014 -3.211359
788      2.204301     12  2015 -3.211359
789     -0.788530     12  2016 -3.211359

[790 rows x 4 columns]

In [168]:
#store anomalies into new column
monthly_data['diff'] = monthly_data['temp_celsius'] - monthly_data['ref_temp']

In [169]:
# Check the monthly data:
monthly_data.head()

   temp_celsius  month  year  ref_temp      diff
0     -1.400966      1  1952 -5.350916  3.949950
1     -5.396825      1  1953 -5.350916 -0.045909
2     -7.072650      1  1954 -5.350916 -1.721733
3     -5.473251      1  1955 -5.350916 -0.122335
4     -8.133333      1  1956 -5.350916 -2.782417

In [170]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

       temp_celsius    ref_temp          diff
count    682.000000  790.000000  6.820000e+02
mean       5.097114    5.094564  3.164624e-16
std        8.483949    8.102228  2.511899e+00
min      -17.974910   -5.941307 -1.262399e+01
25%       -1.685185   -2.440364 -1.520885e+00
50%        4.726105    5.487785  1.173686e-01
75%       12.870370   13.649932  1.667551e+00
max       22.329749   17.280519  7.111942e+00

Remember also to find out which month had the greatest weather anomaly during the observed time period in comparison with the reference data (create a script that prints out the answer to the screen):

In [176]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

# Greatest temperature difference
monthly_data[abs(monthly_data['diff']) == abs(monthly_data['diff']).max()]

    temp_celsius  month  year  ref_temp       diff
35     -17.97491      1  1987 -5.350916 -12.623994

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)